<!-- <h3>{{title}} </h3>
<div class="list-group">
    <a class="list-group-item active" routerLink="products"> Tüm ürünler </a>
</div>
<div class="list-group" *ngFor="let category of categories">
    <a class="list-group-item" routerLink="products/category/{{category.id}}">{{category.name}}</a>
</div> -->
<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-start">
        <a class="nav-item nav-link link-body-emphasis" [routerLink]="['/products']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Tüm ürünler</a>
        <a *ngFor="let category of categories" class="nav-item nav-link link-body-emphasis"
            [routerLink]="['/products/category', category.id]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: false}">{{category.name}}</a>
    </nav>
</div>